/*
TODO: add budget to our scopes:

references:

Destiny:
Shadow Maps	5.5
G-Buffer	7.2
Light & FX  14
Post-Proc	4.3
Particles	1.1
UI			1


Far Cry 4:
Shadow Maps	1.8
G-Buffer	7.5
Lighting 	6.6
Blended		1.7
Post-Proc	2.7
AA 			1.9
Misc 		1.1

*/

artist_hud = {
	font = "core/performance_hud/debug"
	font_material = "debug"
	
	frame_breakdown = {
		chart_max_time = 16
		show_remaining = true
		counters = [
			{ name = "G-Buffer" counters=["depth_prepass", "gbuffer_fpr", "gbuffer", "gbuffer_alpha_masked", "gbuffer_terrain", "gbuffer_outline"] budget=10 }
			{ name = "Decals" counters=["decal_base_color_metallic", "decal_normal_roughness", "decal_roughness", "decals"] budget=10 }
			
			{ name = "Lighting and Shadows" counters=["lighting","shadow_mapping", "reflections probes"] budget=10 } 
				{ name = " - Local Probes" counters=["reflections probes"] budget=10 } 
				{ name = " - SSAO" counters=["ssao"] budget=10 } 
				{ name = " - SSR" counters=["ssr"] budget=10 }
				{ name = " - Shadow Mapping" counters=["shadow mapping", "sun shadow mask", "static sun shadow mask"] budget=10 }
				{ name = " - Deferred Lighting" counters=["global_light", "local_lights"] budget=10 } 
			{ name = "Emissive" counters=["emissive"] budget=10 }
			{ name = "Fog" counters=["apply fog"] budget=10 }
			{ name = "Skydome" counters=["skydome", "skydome_billboard"] budget=10 }
			{ name = "HDR Transparent" counters=["water_mask", "hdr_transparent_depth", "hdr_linear_depth", "hdr_transparent", "hdr_transparent_screen_space", "depth_downsampling", "apply_hdr_transparent", "hdr_transparent_distortion"] budget=10 }
			{ name = "Post Processing" counters=["post_processing", "fxaa", "motion vectors"] budget=10 }
			
			{ name = "GUI" counters=["gui", "transparent", "heatmap_apply", "overlay_transparent_clear", "overlay_transparent_mask", "overlay_transparent", "overlay_transparent_gamma_correction"] budget=10 } 
		]
	}

	custom_huds = {
		objects = {
			frame_breakdown = {
				chart_max_time = 10
				show_remaining = false
				counters = [
					{ name = "Total Cost" counters=["depth_prepass", "gbuffer_fpr", "gbuffer","gbuffer_alpha_masked", "gbuffer_terrain", "gbuffer_terrain_alpha_masked", "outline", "decal_base_color_metallic", "decal_normal_roughness", "emissive", "skydome", "skydome_billboard", "water", "fog_volumes", "hdr_transparent", "hdr_transparent_distortion", "hdr_transparent_screen_space"] budget=10 }
					{ name = "Depth Prepass" counters=["depth_prepass"] budget=10 }
					{ name = "G-Buffer First Person" counters=["gbuffer_fpr"] budget=10 }
					{ name = "G-Buffer" counters=["gbuffer"] budget=10 }
					{ name = "G-Buffer Alpha" counters=["gbuffer_alpha_masked"] budget=10 }
					{ name = "G-Buffer Terrain" counters=["gbuffer_terrain"] budget=10 }
					{ name = "G-Buffer Outline" counters=["gbuffer_outline"] budget=10 }
					{ name = "Decals" counters=["decal_base_color_metallic", "decal_normal_roughness", "decal_roughness", "decals"] budget=10 }
					{ name = "Emissive" counters=["emissive"] budget=10 }
					{ name = "Skydome" counters=["skydome"] budget=10 }
					{ name = "Skydome Billboard" counters=["skydome_billboard"] budget=10 }
					{ name = "HDR Transparent" counters=["water_mask", "hdr_transparent_depth", "hdr_linear_depth", "hdr_transparent", "hdr_transparent_screen_space", "depth_downsampling", "apply_hdr_transparent", "hdr_transparent_distortion"] budget=10 }	
					{ name = "Depth Downsampling" counters=["depth_downsampling"] budget=10 }		
				]
			}
		}

		lighting = {
			frame_breakdown = {
				chart_max_time = 10
				show_remaining = false
				counters = [
					{ name = "Total Cost" counters=["lighting","shadow_mapping", "ao_source", "linearize_depth", "fog"] budget=10 }
					{ name = "Clustered Shading" counters=["clustered shading"] budget=10 }
					{ name = "Linearize Depth" counters=["linearize_depth"] budget=10 }
					{ name = "SSAO" counters=["ssao"] budget=10 }
					{ name = "Skin SSS" counters=["skin_sss"] budget=10 }
					{ name = "Shadow Mapping" counters=["shadow mapping", "sun shadow mask", "static sun shadow mask", "Clear shadow mask", "Populate shadow mask"] budget=10 }
					{ name = " 	- Sun shadows" counters=["cascaded_shadow_mapping", "sun shadow mask", "static sun shadow mask"] budget=10 }
					{ name = " 	- Local shadows" counters=["atlas shadow mapping", "Clear shadow mask", "Populate shadow mask"] budget=10 }
					{ name = "Deferred Lighting" counters=["global_light", "Apply non shadow casting lights", "Apply light sources", "global_indirect_specular_lighting"] budget=10 }
					{ name = " 	- Sun/Ambient Light" counters=["global_light"] budget=10 } 
					{ name = " 	- Indirect Specular Light" counters=["global_indirect_specular_lighting"] budget=10 } 
					{ name = " 	- Local Light" counters=["Apply non shadow casting lights", "Apply light sources"] budget=10 } 
					{ name = "AO Light" counters=["ao_source"] budget=10 }
					{ name = "Fog" counters=["fog"] budget=10 }
					{ name = "Global Light and Fog" counters=["global_light", "fog"] budget=10 }
				]
			}
		}

		deferred_lighting = {
			frame_breakdown = {
				chart_max_time = 10
				show_remaining = false
				counters = [
					{ name = "Deferred Lighting" counters=["deferred lighting"] budget=10 }
				]
			}
		}

		fx = {
			frame_breakdown = {
				chart_max_time = 10
				show_remaining = false
				counters = [
					{ name = "Total Cost" counters=["hdr_transparent", "hdr_transparent_distortion", "hdr_transparent_screen_space"] budget=10 }
					{ name = "HDR Transparent" counters=["hdr_transparent"] budget=10 }
					{ name = "HDR Distortion" counters=["hdr_transparent_distortion"] budget=10 }
					{ name = "HDR Transparent Screen Space" counters=["hdr_transparent_screen_space"] budget=10 }		
				]
			}
		}
		
		post_processing = {
			frame_breakdown = {
				chart_max_time = 10
				show_remaining = false
				counters = [
					{ name = "Total Cost" counters=["post_processing", "fxaa", "camera_velocity", "reflections", "ssr"] budget=10 }
					{ name = "Generate Motion Vectors" counters=["camera_velocity"] budget=10 }
					{ name = "Reflections" counters=["reflections probes"] budget=10 }
					{ name = "Screen-Space Reflections" counters=["ssr"] budget=10 }
					{ name = "TAA" counters=["taa"] budget=10 }
					{ name = "TAA Overhead" counters=["taa_coc", "outline_taa"] budget=10 }
					{ name = "FXAA" counters=["fxaa"] budget=10 }
					{ name = "Specular AA" counters=["specular_aa"] budget=10 }
					{ name = "DoF" counters=["depth_of_field"] budget=10 }
					{ name = "Motion Blur" counters=["motion_blur"] budget=10 }
					{ name = "Bloom" counters=["bloom"] budget=10 }
					{ name = "Light Shafts" counters=["light_shaft"] budget=10 }
					{ name = "Combine Result" counters=["scene_combine"] budget=10 }
					{ name = "Outlines" counters=["gbuffer_outline" "outline_post_processing"] budget=10 }
					{ name = " - GBuffer" counters=["gbuffer_outline"] budget=10 }
					{ name = " - Blur" counters=[ "outline_blur"] budget=10 }
					{ name = " - Taa" counters=[ "outline_taa"] budget=10 }
					{ name = " - Apply" counters=[ "outline_apply"] budget=10 }
				]
			}
		}

		gui = {
			frame_breakdown = {
				chart_max_time = 10
				show_remaining = false
				counters = [
					{ name = "Total Cost" counters=["gui", "transparent", "heatmap_apply", "overlay_transparent_clear", "overlay_transparent_mask", "overlay_transparent", "overlay_transparent_gamma_correction"] budget=10 }
					{ name = "Gui" counters=["gui"] budget=10 }
					{ name = "Transparent" counters=["transparent"] budget=10 }
					{ name = "heatmap_apply" counters=["heatmap_apply"] budget=10 }
					{ name = "Overlay Transparent" counters=["overlay_transparent_clear", "overlay_transparent_mask", "overlay_transparent"] budget=10 }
					{ name = "Overlay Gamma Correction" counters=["overlay_transparent_gamma_correction"] budget=10 }
				]
			}
		}
	}
}

context_hud = {
	font = "core/performance_hud/debug"
	font_material = "debug"
	on_screen_time = 3.0
	primitive_budget = 1
	instance_budget = 5500
}

network_hud = {
	font = "core/performance_hud/debug"
	font_material = "debug"
}

lua_hud = {
	font = "core/performance_hud/debug"
	font_material = "debug"
}

extended_replay_hud = {
	font = "core/performance_hud/debug"
	font_material = "debug"
	width_column0 = 160
	width_column1 = 140
	font_size = 14
	line_height = 16
	margin = 40
}

wwise = {
	font = "core/performance_hud/debug"
	font_material = "debug"

	width_column0 = 230
	width_column1 = 40
	font_size = 14
	line_height = 16

	huds = [
		{
			horizonal_margin = 10
			vertical_margin = 5
			left_alignment = true
			top_alignment = true

			counters = [
				{ header = "Wwise Set Calls" }
				{ name = "SetObjectObstructionAndOcclusion" statistics=["wwise.set_occlusion"] 			decimals = 0 show_max=false }
				{ name = "SetListenerPosition" 				statistics=["wwise.set_listener_position"] 	decimals = 0 show_max=false }
				{ name = "SetActiveListeners" 				statistics=["wwise.set_active_listener"] 	decimals = 0 show_max=false }
				{ name = "SetRTPCValue" 					statistics=["wwise.set_rtpc_value"] 		decimals = 0 show_max=false }
				{ name = "SetState" 						statistics=["wwise.set_state"] 				decimals = 0 show_max=false }
				{ name = "SetSwitch" 						statistics=["wwise.set_switch"] 			decimals = 0 show_max=false }
				{ name = "SetGameObjectOutputBusVolume" 	statistics=["wwise.set_bus_volume"] 		decimals = 0 show_max=false }
				{ name = "SetGameObjectAuxSendValues" 		statistics=["wwise.set_aux_values"] 		decimals = 0 show_max=false }
				{ name = "Set Misc" 						statistics=["wwise.set_misc"] 				decimals = 0 show_max=false }
				{ name = "Total" statistics=["wwise.set_occlusion" "wwise.set_listener_position" "wwise.set_active_listener" "wwise.set_rtpc_value""wwise.set_state" "wwise.set_switch" "wwise.set_bus_volume" "wwise.set_aux_values" "wwise.set_misc"] decimals = 0 show_max=false }
				{ header = "Wwise Events" }
				{ name = "PostEvent" 			statistics=["wwise.post_events"] 		decimals = 0 show_max=false }
				{ name = "PostTrigger" 			statistics=["wwise.post_triggers"] 		decimals = 0 show_max=false }
				{ name = "ExecuteActionOnEvent" statistics=["wwise.action_on_event"] 	decimals = 0 show_max=false }
				{ name = "Total" 				statistics=["wwise.post_events" "wwise.post_triggers" "wwise.action_on_event"] decimals = 0 show_max=false }
				{ header = "Device info" }
				{ name = "Allocs" 						statistics=["wwise.Allocs"] 					decimals = 0 show_max=false }
				{ name = "Frees" 						statistics=["wwise.Frees"] 						decimals = 0 show_max=false }
				{ name = "Granualarity" 				statistics=["wwise.Granularity"] 				decimals = 0 show_max=false }
				{ name = "MemUSed" 						statistics=["wwise.MemUsed"] 					decimals = 0 show_max=false }
				{ name = "MemSize" 						statistics=["wwise.MemSize"] 					decimals = 0 show_max=false }
				{ name = "TotalBytesTransferred" 		statistics=["wwise.TotalBytesTransferred"] 		decimals = 0 show_max=false }
				{ name = "LowLevelRequestsCompleted" 	statistics=["wwise.LowLevelRequestsCompleted"] 	decimals = 0 show_max=false }
				{ name = "LowLevelRequestsPending" 		statistics=["wwise.LowLevelRequestsPending"] 	decimals = 0 show_max=false }
				{ name = "LowLevelRequestsCancelled" 	statistics=["wwise.LowLevelRequestsCancelled"] 	decimals = 0 show_max=false }
				{ name = "StreamCount" 					statistics=["wwise.StreamCount"] 				decimals = 0 show_max=false }
			]
		}

		{
			width_column1 = 120

			horizonal_margin = 10
			vertical_margin = 5
			left_alignment = false
			top_alignment = true

			counters = [
				{ header = "Wwise Sources" }
				{ name = "Total GameObj" 		statistics=["wwise.total_registered_objects"] decimals = 0 show_max=true }
				{ name = "RegisterGameObj" 		statistics=["wwise.registered_objects"] 	decimals = 0 show_max=true }
				{ name = "UnregisterGameObj" 	statistics=["wwise.unregistered_objects"] 	decimals = 0 show_max=true }
				{ name = "Active Sources" 		statistics=["wwise.sources"] 				decimals = 0 show_max=true }
				{ name = "- Auto Sources" 			statistics=["wwise.auto_sources"] 			decimals = 0 show_max=true }
				{ name = "- Manual Sources" 		statistics=["wwise.manual_sources"] 		decimals = 0 show_max=true }
				{ name = "- Sound Scape Sources"	statistics=["wwise.sound_scape_sources"] 	decimals = 0 show_max=true }
				{ name = "Playing Sources" 		statistics=["wwise.playing_sources"] 		decimals = 0 show_max=true }
				{ header = "Sound Scapes Sources" }
				{ name = "Total" 				statistics=["wwise.sound_scape_units"] 				decimals = 0 show_max=true }
				{ name = "Sources" 				statistics=["wwise.sound_scape_sources"] 			decimals = 0 show_max=true }
				{ name = "Playing" 				statistics=["wwise.playing_sound_scape_sources"] 	decimals = 0 show_max=true }
				{ header = "Wwise Banks" }
				{ name = "LoadBank" 			statistics=["wwise.load_banks"] 			decimals = 0 show_max=true }
				{ name = "UnloadBank" 			statistics=["wwise.unload_banks"] 			decimals = 0 show_max=true }
				{ header = "Lua" }
				{ name = "Lua Calls" 						statistics=["wwise.lua_calls"] 						decimals = 0 show_max=true }
				{ name = "- set_environment" 				statistics=["wwise.set_environment"] 				decimals = 0 show_max=true }
				{ name = "- set_dry_environment" 			statistics=["wwise.set_dry_environment"] 			decimals = 0 show_max=true }
				{ name = "- reset_aux_environment" 			statistics=["wwise.reset_aux_environment"] 			decimals = 0 show_max=true }
				{ name = "- set_environment_for_source" 	statistics=["wwise.set_environment_for_source"] 	decimals = 0 show_max=true }
				{ name = "- set_dry_environment_for_source" statistics=["wwise.set_dry_environment_for_source"]	decimals = 0 show_max=true }
				{ name = "- reset_environment_for_source" 	statistics=["wwise.reset_environment_for_source"] 	decimals = 0 show_max=true }
				{ header = "Apu Allocator" }
				{ name = "Allocated" 			statistics=["wwise.apu_memory_allocated"] 	decimals = 0 show_max=true info="MB" }	
			]
		}
	]
}